
body{
    background-color: #474647; 
}

.navbar .navbar-brand {
    color:#97cc04
}
.navbar .navbar-nav .nav-link {
    color: #97cc04;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-item .active{
    color: #F45D01 !important;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #2D7DD2;
  color: #F45D01;
}